html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: purple;
}

.back {
    display: inline-block;
    padding: 15px 20px;
    background-color: purple;
    color: white;
    border: solid;
    border-color: purple;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
}

.back:hover, .back:focus {
    color: purple;
    background-color: white;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: purple;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: purple;
  margin-bottom: 5px;
  border: solid;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: white;
  color: purple;
  border: solid;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    background-color: purple;
    color: white;
    border: solid;
    border-color: purple;
    margin-right: 5px;
  }

  .hamburger {
    display: none;
  }

}

/* dark theme */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .hamburger .line {
  background-color: white;
}

.dark h1 {
    color: white;
}