html {
  background-color: #f8fafc;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: purple;
}

a {
    color: purple;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: purple;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
}

.nav-links a {
    display: block;
    padding: 15px 20px;
    background-color: white;
    color: purple;
    border: solid;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    margin-bottom: 0.5rem;
}

.tag, .back, .footerlinks a {
    display: inline-block;
    padding: 15px 20px;
    background-color: white;
    color: purple;
    border: solid;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.nav-links a:hover,
.nav-links a:focus, .tag:hover, .tag:focus, .back:hover, .back:focus, .footerlinks a:hover, .footerlinks a:focus {
  background-color: purple;
  color: white;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    background-color: white;
    color: purple;
    border: solid;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .hamburger {
    display: none;
  }

}

/* dark theme */
html.dark {
  background-color: #1e293b;
  color: white;
}

.dark .nav-links a, .dark .tag, .dark .back, .dark .footerlinks a {
  color: white;
  background-color: purple;
}

.dark .nav-links a:hover, .dark .tag:hover, .dark .tag:focus, .dark .back:hover, .dark .back:focus, .dark .footerlinks a:hover, .dark .footerlinks a:focus {
  color: purple;
  background-color: white;
}

.dark .hamburger .line {
  background-color: white;
}

.dark h1 {
    color: white;
}

.dark a {
    color: white;
}