* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --light-main-color: purple;
  --dark-main-color: #5b21b6;
  --dark-secondary-color: white;
  --light-secondary-color: white;
  --light-grey: #707070;
  --dark-grey: #afafaf;
}

html {
  background-color: #f8fafc;
  font-family: 'Open Sans', sans-serif;
  /* background-image: 
  linear-gradient(90deg, rgba(0,0,0,0.08) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,0.08) 1px, transparent 1px);
  background-size: 20px 20px; */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
  -ms-overflow-style: none; /* hide scrollbar on IE/Edge */
  overflow-y: auto;
}

html::-webkit-scrollbar {
  display: none;
}

/* first color #f8fafc */

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  font-size: 18px;
  text-align: left;
  hyphens: auto;
}

/* wrapper used for the slot in markdownpoastlayout to justify blogpost text */
.blogpost-content p {
  text-align: justify;
  text-justify: inter-word;
}

.blogpost-content img {
  width: 100%;
  height: auto;
  display: block;  
}

/* wrapper for content in baselayout */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* main class in baselayout */
.content {
  flex: 1;
  margin-bottom: 2rem;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--light-main-color);
}

a {
    color: var(--light-main-color);
}

.about_pic figure {
  margin: 0;
  display: inline-block;
  text-align: left;
  border: solid;
  border-width: 1px;
  padding: 15px;
  border-color: var(--light-main-color);
  background-color: var(--light-secondary-color);
}

.about_pic figcaption {
  font-size: 0.85em;
  color: var(--light-grey);
  font-style: italic;
  max-width:auto;
}

.dark .about_pic figcaption {
  color: var(--dark-grey);
}

.about_pic figcaption a {
  text-decoration: none;
  color: var(--light-grey);
}

.dark .about_pic figcaption a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 10px;
}

 .imprint {
    color: var(--light-grey);
    margin-top: 1rem;
    text-align: center;
    line-height: 1;
  }

  .dark .imprint {
    color: var(--dark-grey);
  }

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--light-main-color);
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
}

.nav-links a {
    display: block;
    padding: 15px 20px;
    background-color: var(--light-secondary-color);
    color: var(--light-main-color);
    border: solid;
    border-width: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    margin-bottom: 0.5rem;
}

.tag, .before-colon, .footerlinks a, .stat-item {
    display: inline-block;
    padding: 15px 20px;
    background-color: var(--light-secondary-color);
    color: var(--light-main-color);
    border: solid;
    border-width: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.before-colon {
  color: var(--light-secondary-color);
  background-color: var(--light-main-color);
  border-color: var(--light-main-color);
}

.nav-links a:hover,
.nav-links a:focus, .tag:hover, .tag:focus, .footerlinks a:hover, .footerlinks a:focus,.stat-item:hover {
  background-color: var(--light-main-color);
  color: var(--light-secondary-color);
  border-color: var(--light-main-color);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 664px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    background-color: var(--light-secondary-color);
    color: var(--light-main-color);
    border: solid;
    border-width: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .hamburger {
    display: none;
  }

}

.blog-thumbnail {
    padding: 15px;
    border: solid;
    border-width: 1px;
    margin-bottom: 1.5rem;
    background-color: var(--light-secondary-color);
    border-color: var(--light-main-color);
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23800080"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.dark input[type="search"]::-webkit-search-cancel-button{
background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>') no-repeat center;
}


/* dark theme */
html.dark {
  background-color: #1e293b;
  color: var(--dark-secondary-color);
  /* background-image: 
  linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px),
  linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 20px 20px; */
}

.dark .nav-links a, .dark .tag, .dark .footerlinks a, .dark .stat-item {
  color: var(--dark-secondary-color);
  background-color: var(--dark-main-color);
}

.dark .search-bar button, .dark .search-bar input[type="search"] {
  background-color: var(--dark-main-color);
  color: var(--dark-secondary-color);
  border-color: var(--dark-secondary-color);
}

.dark .before-colon {
  color: var(--dark-main-color);
  background-color: var(--dark-secondary-color);
  border-color: var(--dark-secondary-color);
}

.dark .nav-links a:hover, .dark .tag:hover, .dark .tag:focus, .dark .footerlinks a:hover, .dark .footerlinks a:focus, .dark .search-bar button:hover, .dark .search-bar button:focus, .dark .stat-item:hover {
  color: var(--dark-main-color);
  background-color: var(--dark-secondary-color);
  border-color: var(--dark-secondary-color);
}

.dark .hamburger .line {
  background-color: var(--dark-secondary-color);
}

.dark h1 {
    color: var(--dark-secondary-color);
}

.dark a {
    color: var(--dark-secondary-color);
}

.dark input[type="search"]::placeholder {
  color: var(--dark-grey);
}

.dark .blog-thumbnail, .dark .about_pic figure {
      background: var(--dark-main-color);
      border-color: var(--dark-secondary-color);
    }

.dark .thumbnail-container figure {
  background: var(--dark-main-color);
}

.dark .thumbnail-container figure:hover {
        background-color: var(--dark-secondary-color);
        color: var(--dark-main-color) !important;
    }