---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "My CS50 Final Project";
---
<BaseLayout pageTitle={pageTitle}>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there", "Hej", "Hallo", "Hola", "Bonjour"]} />
  <p>I built this blog from scratch with <a href="https://astro.build/" target="_blank">astro</a> following the <a href="https://docs.astro.build/en/tutorial/0-introduction/" target="_blank">introduction tutorial</a> and improving upon it, applying my own styling and more functions with some help of <a href="https://claude.ai" target="_blank">Claude AI</a>. The source code is available on my github in this <a href="https://github.com/mwansich/astro-blog" target="_blank">"astro-blog" repository</a> and is deployed via netlify on <a href="https://deluxe-frangipane-d091d8.netlify.app/">this here website</a>.</p>
</BaseLayout>