---
import '../styles/global.css';
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import { Picture } from 'astro:assets';

const pageTitle = "Picture Gallery";

// get all blogposts from the blog collection
const allPosts = await getCollection("blog");

---

<BaseLayout pageTitle={pageTitle}>	
  <div class="gallery">
  {allPosts.map((post: any, index: number) => <Picture 
    src={post.data.cover} 
    alt={post.data.coverAlt} 
    formats={['webp']} 
    width={750} 
    height={500} 
    loading={index <= 1 ? "eager" : "lazy"}
    decoding="async" 
    layout="constrained" />)}
  </div>
</BaseLayout>

<style is:global>
  .gallery img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
  }
</style>