---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: auto;
  }
</style>

<footer>
  <p class="footerlinks"><Social tld="com" platform="github" username="mwansich" /></p>
</footer>