---
import Social from './Social.astro';
import PostStats from './PostStats.astro';
---
<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: auto;
  }
</style>

<footer>
  <p class="footerlinks"><Social tld="com" platform="github" username="mwansich" /></p>
  <PostStats />
</footer>