---
import Social from './Social.astro';
import PostStats from './PostStats.astro';
---
<footer>
  <div id="links">
    <p class="footerlinks"><Social tld="com" platform="github" username="mwansich" /></p>
    <PostStats />
  </div>
  <div class="imprint">
    <p>&copy; 2025 / All rights reserved.</p>
    <p>Built with <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.</p>
  </div>
</footer>

<style>
  
  footer {
    margin-top: auto;
  }

  #links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

</style>